* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.general-container {
    max-width: 25rem;
    height: fit-content;
    background-color:hsl(213, 19%, 18%);
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    margin: 0rem 5rem 2rem;
}

.text-container1 {
    background-color: hsl(214, 18%, 23%);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0rem 4rem 2rem;
    color: hsl(25, 97%, 53%);
}

.text-container2 {
    text-align: center;
}

h1 {
    color: white;
    font-weight: 700;
}

.text2 {
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (max-width: 375px) {
    .general-container {
        width: 85%;
    }

    .text-container1 {
        margin: 0rem 0rem 2rem;
    }
}